<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BWP Widgets template</title>
    <link href="https://bwp.bookingstudio.com/your-installation-id/widgets.css" rel="stylesheet">
    <script>
        window["BookingStudio_culture"] = "en-GB";
        window["BookingStudio_remoteApiHost"] = "https://bwp.bookingstudio.com";
        window["BookingStudio_client"] = "YOUR INSTALLATION ID";
    </script>
    <script src="https://bwp.bookingstudio.com/your-installation-id/translations.en-GB.js"></script>
    <script src="https://bwp.bookingstudio.com/your-installation-id/widgets.js"></script>
</head>
<body>
    <!-- Insert your html and widgets here -->
</body>
</html>